-- *******************************************************
-- *** List of monitored entities and stations in MDS
-- *******************************************************

USE [EdenMDS-PRD]

SELECT DISTINCT
	STA.NationalCode_sta			AS [Station Code]
	, STA.Name_sta					AS [Station Name]
	, STA.*
	, STA.WFDWiseCode_sta
	, STA.MonitoredEntityWFDWiseCode_sta
	, MEN.NationalCode_men			AS [Eden_EntityCode]
	, MEN.*
	, MEN.Name_men					AS [Eden_EntityName]
	, SOR.Code						AS [Eden_LACode]
	, SOR.Name						AS [Eden_LAName]
	, MET.Name_met					AS [Eden_DataType]
	, STA.RiverBasinDistrictId_org	AS [StaRBDId]
	, RBDSTA.StaticName_org			AS [StationRBD]
	, STDRBDSTA.Content_std			AS [StationRBDName]
	, RBDMON.OrganisationId_org		AS [MonEntRBDId]
	, RBDMON.StaticName_org			AS [MonEntRBD]
	, STDRBDSTA.Content_std			AS [MonEntRBDName]
	, STA.Easting_sta
	, STA.Northing_sta
	, STT.StaticName_stt			AS [StationType]
	, STA.LastUpdateDate_sta
	, LTRIM(RTRIM(UEDSTA.FirstName_usr)) + ' ' + LTRIM(RTRIM(UEDSTA.LastName_usr))	AS	[StaEditedBy]
	, LTRIM(RTRIM(UEDMON.FirstName_usr)) + ' ' + LTRIM(RTRIM(UEDMON.LastName_usr))	AS	[MonEntEditedBy]
	, STA.RevisionComment_sta
	, MEN.RevisionComment_men

FROM		dbo.tblStation_sta				STA
LEFT JOIN	dbo.tblMonitoredEntity_men		MEN		ON	MEN.MonitoredEntityId_men		= STA.MonitoredEntityId_men
LEFT JOIN	dbo.tblMonitoredEntityType_met  MET		ON	MET.MonitoredEntityTypeID_met	= MEN.MonitoredEntityTypeID_met
LEFT JOIN	dbo.tblSample_sam				SAM		ON	SAM.StationID_sta				= STA.StationId_sta
LEFT JOIN	dbo.tblUser_usr					UAPPSTA	ON	UAPPSTA.UserId_usr				= STA.ApprovedBy_usr
LEFT JOIN	dbo.tblUser_usr					UEDSTA	ON	UEDSTA.UserId_usr				= STA.LastUpdatedBy_usr
LEFT JOIN	dbo.tblUser_usr					UEDMON	ON	UEDMON.UserId_usr				= MEN.LastUpdatedBy_usr
LEFT JOIN	dbo.tblOrganisation_org			ORG		ON	ORG.OrganisationId_org			= STA.LocalAuthorityId_org
LEFT JOIN	dbo.tblOrganisation_org			ORGCRT	ON	ORGCRT.OrganisationId_org		= STA.CreatedByOrganisation_org
LEFT JOIN	[EdenSSO-PRD].dbo.Organisation  SOR		ON	SOR.Code						= ORG.StaticName_org
LEFT JOIN	[EdenSSO-PRD].dbo.Organisation  SORCRT	ON	SORCRT.Code						= ORG.StaticName_org
LEFT JOIN	dbo.tblStationType_stt			STT		ON	STT.StationTypeId_stt			= STA.StationTypeId_stt
LEFT JOIN	dbo.tblOrganisation_org			RBDSTA	ON	RBDSTA.OrganisationId_org		= STA.RiverBasinDistrictId_org
LEFT JOIN	dbo.tblOrganisation_org			RBDMON	ON	RBDMON.OrganisationId_org		= MEN.OwnerOrganisationId_org
LEFT JOIN	dbo.tblOrganisationType_ort		ORTRBD	ON	RBDSTA.OrganisationTypeId_ort	= ORTRBD.OrganisationTypeId_ort 
LEFT JOIN	dbo.tblStringMaster_stg			STGRBDSTA	ON	RBDSTA.Name_stg				= STGRBDSTA.StringID_stg
LEFT JOIN	dbo.tblStringDefinition_std		STDRBDSTA	ON	STGRBDSTA.StringID_stg		= STDRBDSTA.StringID_stg
LEFT JOIN	dbo.tblStringMaster_stg			STGRBDMON	ON	RBDMON.Name_stg				= STGRBDMON.StringID_stg
LEFT JOIN	dbo.tblStringDefinition_std		STDRBDMON	ON	STGRBDMON.StringID_stg		= STDRBDMON.StringID_stg

WHERE	STDRBDSTA.LanguageID_lan	= '1'
AND		STA.NationalCode_sta IN
(
'LS010006202100020',
'LS010006202100030',
'LS010006202100040',
'LS010006202100050',
'LS010006202100060',
'LS010006202100070',
'LS010006202100080',
'LS010006300500020',
'LS010006300500030',
'LS010006300500040',
'LS010006300500050',
'LS010006300500060',
'LS010006303400060',
'LS010006303400070',
'LS010006303400080',
'LS010006303400090',
'LS010006303400100',
'LS010006303400110',
'LS010006303400120',
'LS010006303400130',
'LS010006303400140',
'LS010006303400150',
'LS030006800600020',
'LS030006800600030',
'LS030006800600040',
'LS030006800600050',
'LS030006800600060',
'LS030006800600070',
'LS030006800600080',
'LS030006801400020',
'LS030006801400030',
'LS030006801400040',
'LS030006801400050',
'LS030006801400060',
'LS030006801400070',
'LS030006807800030',
'LS030006807800040',
'LS030006807800050',
'LS030006807800060',
'LS030006807800070',
'LS060009402800100',
'LS060009402800110',
'LS060009402800120',
'LS060009402800130',
'LS060009402800140',
'LS060009402800150',
'LS060009402800160',
'LS060009402800170',
'LS060009402800180',
'LS060009402800190',
'LS060009402800200',
'LS060009502100020',
'LS060009502100030',
'LS060009502100040',
'LS060009502100050',
'LS060009502100060',
'LS060009502100070',
'LS060009502100080',
'LS060009502400020',
'LS060009502400030',
'LS060009502400040',
'LS060009502400050',
'LS060009502400060',
'LS060009502400070',
'LS060009502600020',
'LS060009502600030',
'LS060009502600040',
'LS060009502600050',
'LS060009502600060',
'LS060009502600070',
'LS060009601100020',
'LS060009601100030',
'LS060009601100040',
'LS060009601100050',
'LS060009601100060',
'LS060009601100070',
'LS070015905000010',
'LS070015905000020',
'LS070015905000030',
'LS070015905000040',
'LS070015905000050',
'LS070015905000060',
'LS070015905000070',
'LS070015906000070',
'LS070015906000080',
'LS070015906000090',
'LS070015906000100',
'LS070015906000110',
'LS070015906000120',
'LS070015906000130',
'LS070015906000140',
'LS070015906000150',
'LS070015906000160',
'LS070015906000170',
'LS070015906000180',
'LS070015906000190',
'LS070015906000200',
'LS070015906000210',
'LS070015906000220',
'LS070015906000230',
'LS070015906200030',
'LS070015906200070',
'LS070015906200080',
'LS070015906200090',
'LS070015906200100',
'LS070015906200110',
'LS070015906200120',
'LS070015909300030',
'LS070015909300040',
'LS070015909300050',
'LS070015909300060',
'LS070015909300070',
'LS070015909300080',
'LS070015909600020',
'LS070015909600030',
'LS070015909600040',
'LS070015909600050',
'LS070015909600060',
'LS070015909600070',
'LS070015909600080',
'LS070015911200020',
'LS070015911200030',
'LS070015911200040',
'LS070015911200050',
'LS070015911200060',
'LS070015911200070',
'LS070015911200080',
'LS070015911200090',
'LS070015911200100',
'LS070015911200110',
'LS070015911200120',
'LS070015911200130',
'LS070015911200140',
'LS070015911200150',
'LS070015911400030',
'LS070015911400040',
'LS070015911400050',
'LS070015911400060',
'LS070015911400070',
'LS070015911400080',
'LS070015911706307',
'LS070015911706308',
'LS070015911706309',
'LS070015911706320',
'LS070015911706350',
'LS070015911706360',
'LS090016801200020',
'LS090016801200030',
'LS090016801300020',
'LS090016801300030',
'LS090016802200180',
'LS090016802200190',
'LS090016802200200',
'LS090016802200210',
'LS090016802200220',
'LS090016802200230',
'LS090016802200240',
'LS090016802200250',
'LS090016802200260',
'LS090016802200270',
'LS090016802200280',
'LS100016900400020',
'LS100016900400030',
'LS100016900400040',
'LS100016900400050',
'LS100016900400060',
'LS100016900400070',
'LS100017000200020',
'LS100017000200030',
'LS100017000200040',
'LS100017000200050',
'LS100017000200060',
'LS100017000200070',
'LS100017100400030',
'LS100017100400040',
'LS100017100400050',
'LS100017100400060',
'LS100017100400070',
'LS100017100400080',
'LS100017100700050',
'LS100017100700060',
'LS100017100700070',
'LS100017100700080',
'LS100017100700090',
'LS100017100700100',
'LS100017100900030',
'LS100017100900040',
'LS100017100900050',
'LS100017100900060',
'LS100017100900070',
'LS100017100900080',
'LS160018200400020',
'LS160018200700020',
'LS160018200700030',
'LS160018200700040',
'LS160018200700050',
'LS160018200700060',
'LS160018200700070',
'LS160018200700080',
'LS160018205700020',
'LS160018205700030',
'LS160018205700040',
'LS160018205700050',
'LS160018205700060',
'LS160018205700070',
'LS17000k200200020',
'LS17000k200200030',
'LS17000k200200040',
'LS17000k200200050',
'LS17000k200200060',
'LS17000k200200070',
'LS17000k200300020',
'LS17000k200300030',
'LS17000k200300040',
'LS17000k200300050',
'LS17000k200300060',
'LS17000k200300070',
'LS190022800800020',
'LS190022800800050',
'LS190022800800060',
'LS190022800800070',
'LS190022800800080',
'LS190022800800090',
'LS190022800800100',
'LS190022800800110',
'LS190022800800120',
'LS190022801200050',
'LS190022801200060',
'LS190022801200070',
'LS190022801200080',
'LS190022801200090',
'LS190022801200100',
'LS190022801200110',
'LS190022801200120',
'LS190022801200130',
'LS190022802400060',
'LS190022802400070',
'LS190022802400080',
'LS190022802400090',
'LS190022802400100',
'LS190022802400110',
'LS190022802400120',
'LS190022802400130',
'LS20000y201400020',
'LS20000y201400030',
'LS20000y201400040',
'LS20000y201400050',
'LS20000y201400060',
'LS20000y201400070',
'LS200022900900020',
'LS200022900900030',
'LS200022900900040',
'LS200022900900050',
'LS200022900900060',
'LS200022900900070',
'LS200022901800020',
'LS200022901800030',
'LS200022901800040',
'LS200022901800050',
'LS200022901800060',
'LS200023300300010',
'LS200023300300020',
'LS200023300300030',
'LS200023300300040',
'LS200023300300050',
'LS20b3_2000600020',
'LS20b3_2000600030',
'LS20b3_2000600040',
'LS20b3_2000600050',
'LS20b3_2000600060',
'LS20b3_2000800010',
'LS20b3_2000800020',
'LS20b3_2000800030',
'LS20b3_2000800040',
'LS20b3_2000800050',
'LS20b3_2000800060',
'LS21000h300400030',
'LS21000h300400040',
'LS21000h300400050',
'LS21000h300400060',
'LS21000h300400070',
'LS210021300100030',
'LS210021300100110',
'LS210021300100120',
'LS210021300100130',
'LS210021300100140',
'LS210021300100150',
'LS210021300100160',
'LS210021300100170',
'LS210021300100180',
'LS210021300100190',
'LS210021300700020',
'LS210021300700030',
'LS210021300700040',
'LS210021300700050',
'LS210021300700060',
'LS210021300700070',
'LS210021300900050',
'LS210021300900060',
'LS210021300900070',
'LS210021300900080',
'LS210021300900090',
'LS210021300900100',
'LS210021301200030',
'LS210021301200040',
'LS210021301200050',
'LS210021301200060',
'LS210021301200070',
'LS210021301200080',
'LS210021500300040',
'LS210021500300050',
'LS210021500300060',
'LS210021500300070',
'LS210021500300080',
'LS210021500300090',
'LS210021500300100',
'LS210022000500030',
'LS210022000500040',
'LS210022000500050',
'LS210022000500060',
'LS210022000500070',
'LS210022000500080',
'LS210022700500020',
'LS210022700500030',
'LS210022700500040',
'LS210022700500050',
'LS210022700500060',
'LS210022700500070',
'LS220020702090170',
'LS220020702090270',
'LS220020702090280',
'LS220020702600110',
'LS220020702600120',
'LS220020702600130',
'LS220020702600140',
'LS220020702600150',
'LS220020702600160',
'LS220020702600170',
'LS220020702600180',
'LS220020702600190',
'LS220020702700030',
'LS220020702700040',
'LS220020702700050',
'LS220020702700060',
'LS220020702700070',
'LS220020702700080',
'LS220020702700090',
'LS220020702700100',
'LS220020705300060',
'LS220020705300070',
'LS220020705300080',
'LS220020705300090',
'LS220020705300100',
'LS220020705300110',
'LS220020705300120',
'LS220020705300130',
'LS220020707000160',
'LS220020707000180',
'LS220020707000190',
'LS220020707000200',
'LS220020707000210',
'LS220020707000220',
'LS220020707000230',
'LS220020707000240',
'LS220020707000250',
'LS220020707000260',
'LS220020707000290',
'LS220020707000300',
'LS220020707000310',
'LS220020800100090',
'LS220020800100100',
'LS220020800100110',
'LS220020800100120',
'LS220020800100130',
'LS220020800100140',
'LS220020800100150',
'LS220020800100160',
'LS220020800100170',
'LS220020800100180',
'LS220020800700030',
'LS220020800800060',
'LS220020800800070',
'LS220020800800080',
'LS220020800800090',
'LS220020800800100',
'LS220020800800110',
'LS23000z300100010',
'LS23000z300100030',
'LS23000z300100040',
'LS23000z300100050',
'LS23000z300100060',
'LS23000z300100070',
'LS230019900300010',
'LS230019900300020',
'LS230019900300030',
'LS230019900300040',
'LS230019900300050',
'LS230019900300060',
'LS240155d00100020',
'LS240155d00100030',
'LS240155d00100040',
'LS240155d00100050',
'LS240155d00100060',
'LS240155d00100070',
'LS240155d03200050',
'LS240155d03200060',
'LS240155d03200070',
'LS240155d03200080',
'LS240155d03200090',
'LS240155d03200100',
'LS240155d03200110',
'LS250155b03200040',
'LS250155b03200050',
'LS250155b03200060',
'LS250155b03200070',
'LS250155b03200080',
'LS250155b03200090',
'LS250155b03200100',
'LS250155b03200110',
'LS250155b03200120',
'LS250155b03500030',
'LS250155b03500040',
'LS250155b03500050',
'LS250155b03500060',
'LS250155b03500070',
'LS250155b03500080',
'LS250155b03500090',
'LS250155b04500050',
'LS250155b04500190',
'LS250155b04500200',
'LS250155b04500210',
'LS250155b04500220',
'LS250155b04500230',
'LS250155b04500240',
'LS250155b04500250',
'LS250155b04500260',
'LS250155b04500270',
'LS250155b04500280',
'LS250155b04500290',
'LS250155b04500300',
'LS250155b04500310',
'LS250155b04500320',
'LS250155b04500330',
'LS250155b04600030',
'LS250155b04600040',
'LS250155b04600050',
'LS250155b04600060',
'LS250155b04600070',
'LS250155b04600080',
'LS250155b09502800',
'LS250155b09506272',
'LS250155b09506273',
'LS250155b09506274',
'LS250155b09506275',
'LS250155b09506276',
'LS250155b09506277',
'LS250155b09506278',
'LS250155b09506279',
'LS260015605700050',
'LS260015605700060',
'LS260015605700070',
'LS260015605700080',
'LS260015605700090',
'LS260015605700100',
'LS260015605800020',
'LS260015605800030',
'LS260015605800040',
'LS260015605800050',
'LS260015605800060',
'LS260015605800070',
'LS260015702606340',
'LS260015702606350',
'LS260015702606360',
'LS260015702606370',
'LS260015702606380',
'LS260015702606390',
'LS260015702606400',
'LS260015702606410',
'LS260015702606420',
'LS260015702606430',
'LS260015705400010',
'LS260015705406292',
'LS260015705406293',
'LS260015705406294',
'LS260015705406295',
'LS260015705406296',
'LS260015705406297',
'LS260015705406298',
'LS260015705406299',
'LS260015705700040',
'LS260015705700050',
'LS260015705700060',
'LS260015705700070',
'LS260015705700080',
'LS260015705700090',
'LS260015706900060',
'LS260015706900110',
'LS260015706900120',
'LS260015706900130',
'LS260015706900140',
'LS260015706900150',
'LS260015706900160',
'LS260015706900170',
'LS260015706900180',
'LS260015706900190',
'LS260015706900200',
'LS260155a01206320',
'LS260155a01206330',
'LS260155a01206340',
'LS260155a01206350',
'LS260155a01206360',
'LS260155a01206370',
'LS260155a01800020',
'LS260155a01800030',
'LS260155a01800040',
'LS260155a01800050',
'LS260155a01800060',
'LS260155a01800070',
'LS260155a01800080',
'LS260155a01800090',
'LS260155a01800100',
'LS260155a01800110',
'LS260155a01800120',
'LS260155a02800030',
'LS260155a03226309',
'LS260155a03226320',
'LS260155a03226330',
'LS260155a03226340',
'LS260155a03226350',
'LS260155a06700040',
'LS260155a06700100',
'LS260155a06700130',
'LS260155a06700160',
'LS260155a06700170',
'LS260155a06700180',
'LS260155a06700190',
'LS260155a06700200',
'LS260155a06700210',
'LS260155a06700220',
'LS260155a06700230',
'LS260155a06700240',
'LS260155a06700250',
'LS260155a06700260',
'LS260155a06700270',
'LS260155a06700280',
'LS260155a07300020',
'LS260155a07300030',
'LS260155a07300040',
'LS260155a07300050',
'LS260155a07300060',
'LS260155a07300070',
'LS260155a07300080',
'LS260155a10600020',
'LS260155a10600030',
'LS260155a10600040',
'LS260155a10600050',
'LS260155a10600060',
'LS260155a10600070',
'LS260155a11800010',
'LS260155a11800020',
'LS260155a11800030',
'LS260155a11800040',
'LS260155a11800050',
'LS260155a11800060',
'LS260155a15700020',
'LS260155a15700030',
'LS260155a15700040',
'LS260155a15700050',
'LS260155a15700060',
'LS260155a15700070',
'LS260155a15700080',
'LS260155a15700090',
'LS260155a16400020',
'LS260155a16400030',
'LS260155a16400040',
'LS260155a16400050',
'LS260155a16400060',
'LS260155a16400070',
'LS260155a17700040',
'LS260155a17700070',
'LS260155a17700080',
'LS260155a17700090',
'LS260155a17700100',
'LS260155a17700110',
'LS260155a21000050',
'LS260155a21000060',
'LS260155a21000070',
'LS260155a21000080',
'LS260155a21000090',
'LS260155a21000100',
'LS260155a22200060',
'LS260155a22200070',
'LS260155a22200080',
'LS260155a22200090',
'LS260155a22200100',
'LS260155a22200110',
'LS260155a22200120',
'LS260155a22200130',
'LS260155a22200140',
'LS260155a22200150',
'LS260155a22200160',
'LS260155a22200170',
'LS260155a24000050',
'LS260155a24000060',
'LS260155a24000070',
'LS260155a24000080',
'LS260155a24000090',
'LS260155a24000100',
'LS260155a24000110',
'LS260155a24000120',
'LS260155a25900020',
'LS260155a25900030',
'LS260155a25900040',
'LS260155a25900050',
'LS260155a25900060',
'LS260155a25900070',
'LS260155a25900080',
'LS260155a25900090',
'LS260155a25900100',
'LS260155a27100030',
'LS260155a27100040',
'LS260155a27100050',
'LS260155a27100060',
'LS260155a27100070',
'LS260155a27100080',
'LS260155a27200060',
'LS260155a27200070',
'LS260155a27200080',
'LS260155a27200090',
'LS260155a27200100',
'LS260155a27200110',
'LS260155a27200120',
'LS260155a27200130',
'LS260155a28800020',
'LS260155a28800030',
'LS260155a28800040',
'LS260155a28800050',
'LS260155a28800060',
'LS260155a28800070',
'LS260155a29800030',
'LS260155a29800040',
'LS260155a29800050',
'LS260155a29800060',
'LS260155a29800070',
'LS260155a29800080',
'LS260155a30000080',
'LS260155a30000090',
'LS260155a30000100',
'LS260155a30000110',
'LS260155a30000120',
'LS260155a30000130',
'LS260155a30000140',
'LS260155a30000150',
'LS260155a30000160',
'LS260155a30000170',
'LS260155a30000180',
'LS260155a30000190',
'LS260155a30000200',
'LS260155a30000210',
'LS270015805600050',
'LS270015805600060',
'LS270015805600070',
'LS270015805600080',
'LS270015805600090',
'LS270015805600100',
'LS270015806100070',
'LS270015806100080',
'LS270015806100090',
'LS270015806100100',
'LS270015806100110',
'LS270015806100120',
'LS270015806100130',
'LS270015806100140',
'LS270015806100150',
'LS270015806100160',
'LS270015806100170',
'LS270015806100180',
'LS270015806100190',
'LS270015807500020',
'LS270015807500030',
'LS270015807500040',
'LS270015807500050',
'LS270015807500060',
'LS270015807500070',
'LS270015807500080',
'LS270015807500090',
'LS270015809800030',
'LS270015809800040',
'LS270015809800050',
'LS270015809800060',
'LS270015809800070',
'LS270015809800080',
'LS270015809800090',
'LS270015811900070',
'LS270015811900080',
'LS270015811900090',
'LS270015811900100',
'LS270015811900110',
'LS270015811900120',
'LS270015811900130',
'LS270015813200040',
'LS270015813200050',
'LS270015813200060',
'LS270015813200070',
'LS270015813200080',
'LS270015813200090',
'LS270015813200100',
'LS270015813200110',
'LS270015814700030',
'LS270015814700040',
'LS270015814700050',
'LS270015814700060',
'LS270015814700070',
'LS270015814700080',
'LS270015814700090',
'LS270015816800030',
'LS270015816800040',
'LS270015816800050',
'LS270015816800060',
'LS270015816800070',
'LS270015816800080',
'LS270015816800090',
'LS270015816800100',
'LS270015816800110',
'LS270015819000020',
'LS270015819000030',
'LS270015819000040',
'LS270155c00700030',
'LS270155c00700040',
'LS270155c00700050',
'LS270155c00700060',
'LS270155c00700070',
'LS270155c00700080',
'LS270155c00700090',
'LS270155c00700100',
'LS270155c00700110',
'LS270155c01300020',
'LS270155c01300030',
'LS270155c01300040',
'LS270155c01300050',
'LS270155c01300060',
'LS270155c01300070',
'LS270155c04600010',
'LS270155c04600020',
'LS270155c04600030',
'LS270155c04600040',
'LS270155c04600050',
'LS270155c04600060',
'LS270155c04600070',
'LS270155c04600080',
'LS270155e01100020',
'LS270155e01100030',
'LS270155e01100040',
'LS270155e01100050',
'LS270155e01100060',
'LS270155e01100070',
'LS280014900800050',
'LS280014900800060',
'LS280014900800070',
'LS280014900800080',
'LS280014900800090',
'LS280014900800100',
'LS280014900800110',
'LS280014900800120',
'LS280015000100010',
'LS280015000100020',
'LS280015000100030',
'LS280015000100040',
'LS280015000100050',
'LS280015000100060',
'LS280015000100070',
'LS280015200500030',
'LS280015200500040',
'LS280015200500050',
'LS280015200500060',
'LS280015200500070',
'LS280015200500080',
'LS280015200500090',
'LS280015200500100',
'LS280015400800020',
'LS280015400800030',
'LS280015400800040',
'LS280015400800050',
'LS280015400800060',
'LS280015400800070',
'LS290014501800050',
'LS290014501800060',
'LS290014501800070',
'LS290014501800080',
'LS290014501800090',
'LS290014501800100',
'LS290014501800110',
'LS290014600100010',
'LS290014600100050',
'LS290014600100060',
'LS290014600100070',
'LS290014600100080',
'LS290014600100090',
'LS290014600100100',
'LS290014600100110',
'LS290014600100120',
'LS290014600100130',
'LS290014602000020',
'LS290014602000030',
'LS300014301000030',
'LS300014301000040',
'LS300014301000050',
'LS300014301000060',
'LS300014301000070',
'LS300014301000080',
'LS300014303300030',
'LS300014303300040',
'LS300014303300050',
'LS300014303300060',
'LS300014303300070',
'LS300014303300080',
'LS300014303300090',
'LS300014303900180',
'LS300014303900190',
'LS300014303900200',
'LS300014303900210',
'LS300014303900220',
'LS300014303900230',
'LS300014303900240',
'LS300014303900250',
'LS300014303900260',
'LS300014303900270',
'LS300014303900280',
'LS300014303900290',
'LS300014303900300',
'LS300014303900310',
'LS300014303900320',
'LS300014303900330',
'LS300014303900340',
'LS300014303900350',
'LS300014303900360',
'LS300014303900370',
'LS300014303900380',
'LS300014303900390',
'LS300014303900400',
'LS300014303900410',
'LS300014303900420',
'LS300014303900430',
'LS300014303900440',
'LS300014303900450',
'LS300014303900460',
'LS300014303900470',
'LS300014303900480',
'LS300014303900490',
'LS300014303900500',
'LS300014303900510',
'LS300014303900520',
'LS300014303900530',
'LS300014303900540',
'LS300014303900550',
'LS300014305700220',
'LS300014305700230',
'LS300014305700240',
'LS300014305700250',
'LS300014305700260',
'LS300014305700270',
'LS300014305700280',
'LS300014305700290',
'LS300014305700300',
'LS300014305700310',
'LS300014305700320',
'LS300014305700330',
'LS300014305700340',
'LS300014305700350',
'LS300014305700360',
'LS300014305700370',
'LS300014305700380',
'LS300014305700390',
'LS300014305700400',
'LS300014305700410',
'LS300014305700420',
'LS300014305700430',
'LS300014305700440',
'LS300014305700450',
'LS300014305700460',
'LS300014305700470',
'LS300014305700480',
'LS300014305700490',
'LS300014305700500',
'LS300014305700510',
'LS300014305700530',
'LS300014305700540',
'LS300014305700550',
'LS300014305700560',
'LS300014305700570',
'LS300014305700580',
'LS300014305700590',
'LS300014305700600',
'LS300014305700610',
'LS300014305700620',
'LS300014305700630',
'LS300014305700640',
'LS300014305700650',
'LS300014305700660',
'LS300014305700670',
'LS300014305700680',
'LS300014305700690',
'LS300014305700700',
'LS300014305700710',
'LS300014305700720',
'LS300014305700730',
'LS300014305700740',
'LS300014307100050',
'LS300014307100060',
'LS300014307100070',
'LS300014307100080',
'LS300014307100090',
'LS300014307100100',
'LS300014310400020',
'LS300014310400030',
'LS300014310400040',
'LS300014310400050',
'LS300014310400060',
'LS300014310400070',
'LS300014310400080',
'LS300014313600030',
'LS300014313600040',
'LS300014313600050',
'LS300014313600060',
'LS300014313600070',
'LS300014313600080',
'LS300014314100080',
'LS300014314100090',
'LS300014314100100',
'LS300014314100110',
'LS300014314100120',
'LS300014314100130',
'LS300014314100140',
'LS300014314100150',
'LS300014314100160',
'LS300014314100170',
'LS300014314100180',
'LS300014314100190',
'LS300014314100200',
'LS300014314100210',
'LS300014314100220',
'LS300014314100230',
'LS300014314100240',
'LS300014314100250',
'LS300014314100260',
'LS300014314100270',
'LS300014314100280',
'LS300014314100290',
'LS300014314100300',
'LS300014314100310',
'LS300014314100320',
'LS300014314100330',
'LS300014314100340',
'LS300014314600030',
'LS300014314600040',
'LS300014314600050',
'LS300014314600060',
'LS300014314600070',
'LS300014314600080',
'LS300014314600090',
'LS300014316900150',
'LS300014316900160',
'LS300014316900170',
'LS300014316900180',
'LS300014316900190',
'LS300014316900200',
'LS300014316900210',
'LS300014316900220',
'LS300014316900230',
'LS300014316900240',
'LS300014316900250',
'LS300014316900260',
'LS300014316900270',
'LS300014316900280',
'LS300014316900290',
'LS300014316900300',
'LS300014316900310',
'LS300014316900320',
'LS300014316900330',
'LS300014316900340',
'LS300014316900350',
'LS300014316900360',
'LS300014316900370',
'LS300014316900380',
'LS300014316900390',
'LS300014316900400',
'LS300014316900410',
'LS300014320960020',
'LS300014320960030',
'LS300014320960040',
'LS300014320960050',
'LS300014320960060',
'LS300014320960070',
'LS300014320960080',
'LS300014320960090',
'LS300014323000020',
'LS300014323000030',
'LS300014323000040',
'LS300014323000050',
'LS300014323000060',
'LS300014323000070',
'LS31000r407200010',
'LS31000r407200030',
'LS31000r407200040',
'LS31000r407200050',
'LS31000r407200060',
'LS31000r407200070',
'LS31000r407200080',
'LS31000r409500050',
'LS31000r409500060',
'LS31000r409500070',
'LS31000r409500080',
'LS31000r409500090',
'LS31000r409500100',
'LS31000r409500110',
'LS31000r409500120',
'LS31000r411200010',
'LS31000r411200030',
'LS31000r411200040',
'LS31000r411200050',
'LS31000r411200060',
'LS31000r411200070',
'LS31000r411200080',
'LS31000r411200090',
'LS31000r411430020',
'LS31000r413700020',
'LS31000r413700030',
'LS31000r413700040',
'LS31000r413700050',
'LS31000r413700060',
'LS31000r415000020',
'LS31000r415000030',
'LS31000r415000040',
'LS31000r415000050',
'LS31000r415000060',
'LS31000r415000070',
'LS31000r416200010',
'LS31000r416200020',
'LS31000r416200030',
'LS31000r416200040',
'LS31000r416200050',
'LS31000r416200060',
'LS310013603100030',
'LS310013603100040',
'LS310013603100050',
'LS310013603100060',
'LS310013603100070',
'LS310013603100080',
'LS310013603100090',
'LS310013603100100',
'LS310013604000010',
'LS310013604000020',
'LS310013604000030',
'LS310013604000040',
'LS310013604000050',
'LS310013604000060',
'LS310013604000070',
'LS310013604000080',
'LS310014103800020',
'LS310014103800030',
'LS310014103800040',
'LS310014103800050',
'LS310014103800060',
'LS310014103800070',
'LS32000u401200030',
'LS32000u401200040',
'LS32000u401200050',
'LS32000u401200060',
'LS32000u401200070',
'LS32000u401200080',
'LS32000u401200090',
'LS32000u402300030',
'LS32000u402300040',
'LS32000u402300050',
'LS32000u402300060',
'LS32000u402300070',
'LS32000u402300080',
'LS32000u402300090',
'LS32000u402300100',
'LS32000w400100020',
'LS32000w400100030',
'LS32000w400100040',
'LS32000w400100050',
'LS32000w400100060',
'LS32000w400100070',
'LS320010700700040',
'LS320010700700050',
'LS320010700700060',
'LS320010700700070',
'LS320010700700080',
'LS320010700700090',
'LS320010700700100',
'LS320010700700110',
'LS320010801400030',
'LS320010801400050',
'LS320010801400060',
'LS320010801400070',
'LS320010801400080',
'LS320010801400090',
'LS320010801400100',
'LS320010801400110',
'LS320010801400120',
'LS320010801400130',
'LS320010801400140',
'LS320010801400150',
'LS320012400300020',
'LS320012400300030',
'LS320012400300040',
'LS320012400300050',
'LS320012400300060',
'LS320012400300070',
'LS320012500200020',
'LS320012500200030',
'LS320012500200040',
'LS320012500200050',
'LS320012500200060',
'LS320012500200070',
'LS320012600500020',
'LS320012600500030',
'LS320012600500040',
'LS320012600500050',
'LS320012600500060',
'LS320012600500070',
'LS320013000200050',
'LS320013000200060',
'LS320013000200070',
'LS320013000200080',
'LS320013000200090',
'LS320013000200100',
'LS320013000200110',
'LS320013000200120',
'LS320013000500030',
'LS320013000500040',
'LS320013000500050',
'LS320013000500060',
'LS320013000500070',
'LS320013000500080',
'LS320013000500090',
'LS320013300400010',
'LS320013300400020',
'LS320013300400030',
'LS320013300400040',
'LS320013300400050',
'LS320013300400060',
'LS320013300500050',
'LS320013300500060',
'LS320013300500070',
'LS320013300500080',
'LS320013300500090',
'LS320013300500100',
'LS320013300500110',
'LS320013300500120',
'LS320013300500130',
'LS320013300500140',
'LS32t4_3200400020',
'LS32t4_3200400030',
'LS32t4_3200400040',
'LS32t4_3200400050',
'LS32t4_3200400060',
'LS32t4_3202100020',
'LS32t4_3202100030',
'LS32t4_3202100040',
'LS32t4_3202100050',
'LS32t4_3202100060',
'LS32t4_3202100070',
'LS32t4_3202100080',
'LS32t4_3202700020',
'LS32t4_3202700030',
'LS32t4_3202700040',
'LS32t4_3202700050',
'LS32t4_3209000010',
'LS32t4_3209000030',
'LS32t4_3209000040',
'LS32t4_3209000050',
'LS32t4_3209000060',
'LS32t4_3209000070',
'LS32t4_3209700010',
'LS32t4_3211000020',
'LS32t4_3211000030',
'LS32t4_3211000040',
'LS32t4_3211000050',
'LS32t4_3211000060',
'LS32t4_3211000070',
'LS33000k501600020',
'LS33000k501600030',
'LS33000k501600040',
'LS33000k501600050',
'LS33000k501600060',
'LS33000k501600070',
'LS330010500200120',
'LS330010500200130',
'LS330010500200140',
'LS330010500200150',
'LS330010500200160',
'LS330010500200170',
'LS330010500200180',
'LS330010500200190',
'LS330010500200200',
'LS330010500200210',
'LS330010500200220',
'LS330010500200230',
'LS330010500200240',
'LS330010500200250',
'LS33i5_3308200030',
'LS33i5_3308200040',
'LS33i5_3308200050',
'LS33i5_3308200060',
'LS33i5_3308200070',
'LS33i5_3308200080',
'LS33i5_3308200090',
'LS33i5_3308500020',
'LS33i5_3308500030',
'LS33i5_3308500040',
'LS33i5_3308500050',
'LS33i5_3308500060',
'LS33i5_3308500070',
'LS340011004300100',
'LS340011004300110',
'LS340011004300120',
'LS340011004300130',
'LS340011004300140',
'LS340011004300150',
'LS340011004300160',
'LS340011004300170',
'LS340011004300180',
'LS340011004300190',
'LS340011004300200',
'LS340011004300210',
'LS340011004300220',
'LS340011004300230',
'LS340011004300240',
'LS340011004300250',
'LS340011004300260',
'LS340011004300270',
'LS340011004300280',
'LS340011004300290',
'LS340011004300300',
'LS340011004300310',
'LS340011004300320',
'LS340011004300330',
'LS340011004300340',
'LS340011004300350',
'LS340011004300360',
'LS340011004300370',
'LS340011004300380',
'LS340011004300390',
'LS340011004300400',
'LS340011004300410',
'LS340011004300420',
'LS340011004300430',
'LS340011006300030',
'LS340011006300040',
'LS340011006300050',
'LS340011006300060',
'LS340011006300070',
'LS340011006300080',
'LS340011006300090',
'LS340011006700020',
'LS340011006700090',
'LS340011006700100',
'LS340011006700110',
'LS340011006700120',
'LS340011006700130',
'LS340011006700140',
'LS340011006700150',
'LS340011006700160',
'LS340011006700170',
'LS340011006700180',
'LS340011006700190',
'LS340011006700200',
'LS340011006700210',
'LS340011006700220',
'LS340011006700230',
'LS340011008600020',
'LS340011008600030',
'LS340011008600040',
'LS340011008600050',
'LS340011008600060',
'LS340011008600070',
'LS340011008600080',
'LS340011008600090',
'LS340011022200010',
'LS340011022200020',
'LS340011022200030',
'LS340011022200040',
'LS340011022200050',
'LS340011022200060',
'LS340011024100040',
'LS340011024100050',
'LS340011024100060',
'LS340011024100070',
'LS340011024100080',
'LS340011024100090',
'LS350011401500030',
'LS350011401500040',
'LS350011401500050',
'LS350011401500060',
'LS350011401500070',
'LS350011401500080',
'LS350011401500090',
'LS350011602300050',
'LS350011602300060',
'LS350011602300070',
'LS350011602300080',
'LS350011602300090',
'LS350011602300100',
'LS350011603600090',
'LS350011603600110',
'LS350011603600120',
'LS350011603600130',
'LS350011603600140',
'LS350011603600150',
'LS350011603600160',
'LS350011603600170',
'LS350011603600180',
'LS350011603600190',
'LS350011603600200',
'LS350011700400190',
'LS350011700400200',
'LS350011700400210',
'LS350011700400220',
'LS350011700400230',
'LS350011700400240',
'LS350011700400250',
'LS350011700400260',
'LS350011700400270',
'LS350011700400280',
'LS350011700400290',
'LS350011700400300',
'LS350011700400310',
'LS350011701000020',
'LS350011701000030',
'LS350011701000040',
'LS350011701000050',
'LS350011701000060',
'LS350011701000070',
'LS350011701200030',
'LS350011701200040',
'LS350011701200050',
'LS350011701200060',
'LS350011701200070',
'LS350011701200080',
'LS350011701700030',
'LS350011701700040',
'LS350011701700050',
'LS350011701700060',
'LS350011701700070',
'LS350011701700080',
'LS350011800100020',
'LS350011800100030',
'LS350011800100040',
'LS350011800100050',
'LS350011800100060',
'LS350011900100030',
'LS350011900100040',
'LS350011900100050',
'LS350011900100060',
'LS350011900100070',
'LS350011900100080',
'LS350012100100050',
'LS350012100100140',
'LS350012100100150',
'LS350012100100160',
'LS350012100100170',
'LS350012100100180',
'LS350012100100190',
'LS350012100100200',
'LS350012100100210',
'LS350012100100220',
'LS350012100100230',
'LS350012100100240',
'LS350012100100250',
'LS350012100100260',
'LS350012100100280',
'LS350012100100290',
'LS350012100100300',
'LS350012100100310',
'LS350012101700010',
'LS350012101700020',
'LS350012101700030',
'LS350012101700040',
'LS350012101700050',
'LS360012302100010',
'LS360012302100020',
'LS360012302100030',
'LS360012302100040',
'LS360012302100050',
'LS360012302100060',
'LS360012303300020',
'LS360012303300030',
'LS360012303300040',
'LS360012303300050',
'LS360012303300060',
'LS360012303300070',
'LS360012303700020',
'LS360012303700030',
'LS360012303700040',
'LS360012303700050',
'LS360012303700060',
'LS360012303700070',
'LS360012304300020',
'LS360012304300030',
'LS360012304300040',
'LS360012304300050',
'LS360012304300060',
'LS360012304300070',
'LS360012307230090',
'LS360012307230100',
'LS360012307230110',
'LS360012307230120',
'LS360012307230130',
'LS360012307230140',
'LS360012307230150',
'LS360012307230160',
'LS360012307230170',
'LS360012307230180',
'LS360012307240070',
'LS360012307240080',
'LS360012307240090',
'LS360012307240100',
'LS360012307240110',
'LS360012307240120',
'LS360012307240130',
'LS360012307240140',
'LS360012307260050',
'LS360012307260060',
'LS360012307260070',
'LS360012307260080',
'LS360012307260090',
'LS360012307260100',
'LS360012310800060',
'LS360012310800110',
'LS360012310800120',
'LS360012310800130',
'LS360012310800130',
'LS360012310800140',
'LS360012310800150',
'LS360012310800160',
'LS360012310800170',
'LS360012310800180',
'LS360012310800190',
'LS360012310800200',
'LS360012310800210',
'LS360012310800220',
'LS360012310800230',
'LS360012310800240',
'LS360012310800250',
'LS360012313000030',
'LS360012313000040',
'LS360012313000050',
'LS360012313000060',
'LS360012313000070',
'LS360012313000080',
'LS360012313000090',
'LS360012313000100',
'LS360012313000110',
'LS360012313000120',
'LS360012313000130',
'LS360012313000140',
'LS360012313000150',
'LS360012313000160',
'LS360012315100030',
'LS360012315100040',
'LS360012315100050',
'LS360012315100060',
'LS360012315100070',
'LS360012315100080',
'LS360012316300020',
'LS360012316300030',
'LS360012316300040',
'LS360012316300050',
'LS360012316300060',
'LS360012316300070',
'LS360012318000050',
'LS360012318000060',
'LS360012318000070',
'LS360012318000080',
'LS360012318000090',
'LS360012318000100',
'LS360012318300020',
'LS360012318300050',
'LS360012318300060',
'LS360012318300070',
'LS360012318300080',
'LS360012318300090',
'LS360012318300100',
'LS360012318300110',
'LS360012319200020',
'LS360012319200030',
'LS360012319200040',
'LS360012319200050',
'LS360012319200060',
'LS360012319200070',
'LS360012320100010',
'LS360012320100020',
'LS360012320100030',
'LS360012320100040',
'LS360012320800010',
'LS360012320800020',
'LS360012320800030',
'LS360012320800040',
'LS360012320800050',
'LS360012320800060',
'LS360012320800070',
'LS360012320800080',
'LS360012320800090',
'LS360012320800100',
'LS360012320800110',
'LS360012320800120',
'LS360012320800130',
'LS360012320800140',
'LS360012320800150',
'LS360012324200030',
'LS360012324200040',
'LS360012324200050',
'LS360012324200060',
'LS360012324200070',
'LS360012324200080',
'LS360012325300020',
'LS360012325300050',
'LS360012325300060',
'LS360012325300070',
'LS360012325300080',
'LS360012325500030',
'LS360012325500040',
'LS360012325500050',
'LS360012325500060',
'LS360012325500070',
'LS360012325500080',
'LS360012325500090',
'LS360012325600020',
'LS360012325600030',
'LS360012325600040',
'LS360012325600050',
'LS360012325600060',
'LS360012325600070',
'LS360012328600020',
'LS360012328600040',
'LS360012328600050',
'LS360012328600060',
'LS360012328600070',
'LS360012328600080',
'LS360012328600090',
'LS360012328700050',
'LS360012328700060',
'LS360012328700070',
'LS360012328700080',
'LS360012328700090',
'LS360012328700100',
'LS360012329500030',
'LS360012329500040',
'LS360012329500050',
'LS360012329500060',
'LS360012329500070',
'LS360012329500080',
'LS360012332300120',
'LS360012332300130',
'LS360012332300140',
'LS360012332300150',
'LS360012332300160',
'LS360012332300170',
'LS360012332300180',
'LS360012332300190',
'LS360012332300200',
'LS360012332300210',
'LS360012332300220',
'LS360012332300230',
'LS360012332300240',
'LS360012332300250',
'LS360012332300260',
'LS360012333300010',
'LS360012333300020',
'LS360012333300030',
'LS360012333300040',
'LS360012333300050',
'LS360012333300060',
'LS360012333700020',
'LS360012333700030',
'LS360012333700040',
'LS360012333700050',
'LS360012333700060',
'LS360012333700070',
'LS360012334300020',
'LS360012334600020',
'LS360012334600030',
'LS360012334600040',
'LS360012334600050',
'LS360012334600060',
'LS360012334600070',
'LS360012335300030',
'LS360012335300040',
'LS360012335300050',
'LS360012335300060',
'LS360012335300070',
'LS360012335300080',
'LS360012346200020',
'LS360012346200030',
'LS360012346200040',
'LS360012346200050',
'LS360012346200060',
'LS360012346200070',
'LS360012346300030',
'LS360012346300040',
'LS360012346300050',
'LS360012346300060',
'LS360012346300070',
'LS360012346300080',
'LS360012347500020',
'LS360012347500030',
'LS360012347500040',
'LS360012347500050',
'LS360012347500060',
'LS360012347500070',
'LS360012347500080',
'LS360012349400060',
'LS360012349400070',
'LS360012349400080',
'LS360012349400090',
'LS360012349400100',
'LS360012349400110',
'LS360012352800020',
'LS360012352800030',
'LS360012352800040',
'LS360012352800050',
'LS360012352800060',
'LS360012352800070',
'LS360012355100030',
'LS360012355100040',
'LS360012355100050',
'LS360012355100060',
'LS360012355100070',
'LS360012355100080',
'LS360012355100090',
'LS360012356000050',
'LS360012356000060',
'LS360012356000070',
'LS360012356000080',
'LS360012356000090',
'LS360012356000100',
'LS360012357200070',
'LS360012357200080',
'LS360012357200090',
'LS360012357200100',
'LS360012357200110',
'LS360012357200120',
'LS360012357200130',
'LS360012357200140',
'LS360012357200150',
'LS360012359700030',
'LS360012359700050',
'LS360012359700060',
'LS360012359700070',
'LS360012359700080',
'LS360012359700090',
'LS360012361000020',
'LS360012361000030',
'LS360012361000040',
'LS360012361000050',
'LS360012361000060',
'LS360012361000070',
'LS360012361000080',
'LS360012361000090',
'LS360012720100010',
'LS370005800600060',
'LS370005800600070',
'LS370005800600080',
'LS370005800600090',
'LS370005800600100',
'LS370005800600110',
'LS370005800600120',
'LS380002200600050',
'LS380002200600060',
'LS380002200600070',
'LS380002200600080',
'LS380002200600090',
'LS380002200600100',
'LS380002200600110',
'LS380002200800020',
'LS380002200800030',
'LS380002200800040',
'LS380002200800050',
'LS380002200800060',
'LS380002700100010',
'LS380002700100040',
'LS380002700100050',
'LS380002700100060',
'LS380002700100070',
'LS380002700100080',
'LS380002700500020',
'LS380002700500030',
'LS380002700500040',
'LS380002700500050',
'LS380002700500060',
'LS380002700600020',
'LS380002700600030',
'LS380002700600040',
'LS380002700600050',
'LS380002700600060',
'LS380002700600070',
'LS380002700600080',
'LS380002700700020',
'LS380002700700030',
'LS380002700700040',
'LS380002700700050',
'LS380002706930050',
'LS380002706930060',
'LS380002706930070',
'LS380002706930080',
'LS380002706930090',
'LS380002706930100',
'LS380002706930110',
'LS380002706930120',
'LS380002706930130',
'LS380002706930140',
'LS380002706930150',
'LS380003000200020',
'LS380003000200030',
'LS380003000200040',
'LS380003000200050',
'LS380003000200060',
'LS380003000200070',
'LS380004701400010',
'LS380004701400020',
'LS380004701400030',
'LS380004701400040',
'LS380004701400050',
'LS380004701400060',
'LS380004804900040',
'LS380004804900050',
'LS380004804900060',
'LS380004804900070',
'LS380004804900080',
'LS380004804900090',
'LS380004804900100',
'LS38000j600500030',
'LS38000j600500040',
'LS38000j600500050',
'LS38000j600500060',
'LS38000j600500070',
'LS38000l600800020',
'LS38000l600800030',
'LS38000l600800040',
'LS38000l600800050',
'LS38000l600800060',
'LS38000l600800070',
'LS38000l600800080',
'LS38000l600800090',
'LS38000p600100020',
'LS38000p600100030',
'LS38000p600100040',
'LS38000p600100050',
'LS38000p600100060',
'LS38000p600100070',
'LS38u6_3800900020',
'LS38u6_3801000020',
'LS38u6_3801000030',
'LS38u6_3801000040',
'LS38u6_3801000050',
'LS38u6_3801000060',
'LS38u6_3801000070',
'LS38u6_3801100040',
'LS38u6_3801100050',
'LS38u6_3801100060',
'LS38u6_3801100070',
'LS38u6_3801100080',
'LS38u6_3801100090',
'LS38u6_3801400020',
'LS38u6_3801400030',
'LS38u6_3801400040',
'LS38u6_3801400050',
'LS38u6_3801400060',
'LS38u6_3801400070',
'LS38u6_3802300020',
'LS38u6_3802300030',
'LS38u6_3802300040',
'LS38u6_3802300050',
'LS38u6_3802300060',
'LS38u6_3802300070',
'LS38u6_3802300080',
'LS390003100800050',
'LS390003100800060',
'LS390003100800070',
'LS390003100800080',
'LS390003100800090',
'LS390003102500020',
'LS390003102500030',
'LS390003102500040',
'LS390003102500050',
'LS390003102500060',
'LS390003102500070',
'LS390003102700030',
'LS390003102700040',
'LS390003102700050',
'LS390003102700060',
'LS390003102700070',
'LS390003102700080',
'LS390003102700090',
'LS390003102700110',
'LS400000400100020',
'LS400000400100030',
'LS400000400100040',
'LS400000400100050',
'LS400000400100060',
'LS400000400100070'
)