-- *******************************************************
-- *** List of monitored entities and stations in MDS
-- *******************************************************

USE [EdenMDS-PRD]

/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT TOP 1000 [MonitoredEntityId_men]
--      ,[MonitoredEntityTypeId_met]
--      ,[NationalCode_men]
--      ,[Name_men]
--      ,[OwnerOrganisationId_org]
--      ,[ApprovedBy_usr]
--      ,[Version_men]
--      ,[RevisionComment_men]
--      ,[LastUpdatedBy_usr]
--      ,[LastUpdateDate_men]
--  FROM [EdenMDS-PRD].[dbo].[tblMonitoredEntity_men]
--  WHERE Name_men = 'GLASS'


SELECT DISTINCT
	--STA.NationalCode_sta		AS [Station Code]
	--, STA.Name_sta				AS [Station Name]
	STA.MonitoredEntityWFDWiseCode_sta AS [WiseCode]
	, MEN.Name_men				AS [Eden_EntityName]
	, MEN.NationalCode_men		AS [Eden_EntityCode]
	--, SOR.Code					AS [Eden_LACode]
	--, SOR.Name					AS [Eden_LAName]
	--, MET.Name_met				AS [Eden_DataType]
	--, ORGRBD.StaticName_org		AS [RBD]
	--, STA.Easting_sta
	--, STA.Northing_sta

FROM		dbo.tblMonitoredEntity_men		MEN
LEFT JOIN	dbo.tblMonitoredEntityType_met  MET		ON	MET.MonitoredEntityTypeID_met	= MEN.MonitoredEntityTypeID_met
LEFT JOIN	dbo.tblStation_sta				STA		ON	STA.MonitoredEntityId_men		= MEN.MonitoredEntityId_men
----LEFT JOIN	dbo.tblSample_sam				SAM		ON	SAM.StationID_sta				= STA.StationId_sta
LEFT JOIN	dbo.tblUser_usr					US1		ON	US1.UserId_usr					= STA.ApprovedBy_usr
LEFT JOIN	dbo.tblOrganisation_org			ORG		ON	ORG.OrganisationId_org			= STA.LocalAuthorityId_org
LEFT JOIN	dbo.tblOrganisation_org			ORGRBD	ON	ORGRBD.OrganisationId_org		= STA.RiverBasinDistrictId_org
LEFT JOIN	dbo.tblOrganisation_org			ORGCRT	ON	ORGCRT.OrganisationId_org		= STA.CreatedByOrganisation_org
LEFT JOIN	[EdenSSO-PRD].dbo.Organisation  SOR		ON	SOR.Code						= ORG.StaticName_org
LEFT JOIN	[EdenSSO-PRD].dbo.Organisation  SORCRT	ON	SORCRT.Code						= ORG.StaticName_org

WHERE	MET.Name_met = 'Lake Water'
AND		STA.MonitoredEntityWFDWiseCode_sta	 IN
(
'IE_EA_07_178',
'IE_EA_07_190',
'IE_EA_07_223',
'IE_EA_07_242',
'IE_EA_07_258',
'IE_EA_07_267',
'IE_EA_07_268',
'IE_EA_07_270',
'IE_EA_07_273',
'IE_EA_07_274',
'IE_EA_07_275',
'IE_EA_09_130',
'IE_EA_09_53',
'IE_EA_09_68',
'IE_EA_09_69',
'IE_EA_09_70',
'IE_EA_09_71',
'IE_EA_10_10',
'IE_EA_10_11',
'IE_EA_10_23',
'IE_EA_10_25',
'IE_EA_10_27',
'IE_EA_10_28',
'IE_EA_10_29',
'IE_EA_10_30',
'IE_EA_10_31',
'IE_EA_10_32',
'IE_EA_10_5',
'IE_NB_03_102',
'IE_NB_03_3',
'IE_NB_03_51',
'IE_NB_03_71',
'IE_NB_03_79',
'IE_NB_03_86',
'IE_NB_03_87',
'IE_NB_03_90',
'IE_NB_03_97',
'IE_NB_06_198',
'IE_NB_06_209',
'IE_NB_06_234',
'IE_NB_06_244',
'IE_NB_06_54',
'IE_NB_06_55',
'IE_NB_06_56',
'IE_NB_36_383',
'IE_NW_01_102',
'IE_NW_01_104',
'IE_NW_01_109',
'IE_NW_01_111',
'IE_NW_01_115',
'IE_NW_26_736',
'IE_NW_35_143',
'IE_NW_35_160',
'IE_NW_36_142',
'IE_NW_36_192',
'IE_NW_36_201',
'IE_NW_36_207',
'IE_NW_36_247',
'IE_NW_36_261',
'IE_NW_36_267',
'IE_NW_36_272',
'IE_NW_36_277',
'IE_NW_36_278',
'IE_NW_36_301',
'IE_NW_36_316',
'IE_NW_36_318',
'IE_NW_36_324',
'IE_NW_36_329',
'IE_NW_36_331',
'IE_NW_36_336',
'IE_NW_36_339',
'IE_NW_36_343',
'IE_NW_36_346',
'IE_NW_36_349',
'IE_NW_36_363',
'IE_NW_36_367',
'IE_NW_36_368',
'IE_NW_36_369',
'IE_NW_36_378',
'IE_NW_36_382',
'IE_NW_36_385',
'IE_NW_36_386',
'IE_NW_36_391',
'IE_NW_36_394',
'IE_NW_36_400',
'IE_NW_36_402',
'IE_NW_36_409',
'IE_NW_36_410',
'IE_NW_36_415',
'IE_NW_36_420',
'IE_NW_36_421',
'IE_NW_36_423',
'IE_NW_36_430',
'IE_NW_36_432',
'IE_NW_36_441',
'IE_NW_36_444',
'IE_NW_36_445',
'IE_NW_36_448',
'IE_NW_36_458',
'IE_NW_36_460',
'IE_NW_36_465',
'IE_NW_36_468',
'IE_NW_36_470',
'IE_NW_36_472',
'IE_NW_36_476',
'IE_NW_36_477',
'IE_NW_36_486',
'IE_NW_36_489',
'IE_NW_36_490',
'IE_NW_36_500',
'IE_NW_36_504',
'IE_NW_36_505',
'IE_NW_36_513',
'IE_NW_36_515',
'IE_NW_36_517',
'IE_NW_36_521',
'IE_NW_36_525a',
'IE_NW_36_525b',
'IE_NW_36_526',
'IE_NW_36_528',
'IE_NW_36_554',
'IE_NW_36_559',
'IE_NW_36_561',
'IE_NW_36_564',
'IE_NW_36_565',
'IE_NW_36_573',
'IE_NW_36_574',
'IE_NW_36_575',
'IE_NW_36_577',
'IE_NW_36_580',
'IE_NW_36_581',
'IE_NW_36_597',
'IE_NW_36_599',
'IE_NW_36_603',
'IE_NW_36_614',
'IE_NW_36_615',
'IE_NW_36_618',
'IE_NW_36_623',
'IE_NW_36_624',
'IE_NW_36_628',
'IE_NW_36_632',
'IE_NW_36_633',
'IE_NW_36_635',
'IE_NW_36_638',
'IE_NW_36_640',
'IE_NW_36_641',
'IE_NW_36_642',
'IE_NW_36_647',
'IE_NW_36_648',
'IE_NW_36_651',
'IE_NW_36_652',
'IE_NW_36_655',
'IE_NW_36_657',
'IE_NW_36_661',
'IE_NW_36_665',
'IE_NW_36_669',
'IE_NW_36_671',
'IE_NW_36_672',
'IE_NW_36_673',
'IE_NW_36_677',
'IE_NW_36_684',
'IE_NW_36_706',
'IE_NW_36_710',
'IE_NW_36_711',
'IE_NW_36_712',
'IE_NW_36_715',
'IE_NW_36_717',
'IE_NW_36_718',
'IE_NW_36_719',
'IE_NW_36_720',
'IE_NW_36_721',
'IE_NW_36_723',
'IE_NW_36_724',
'IE_NW_36_725',
'IE_NW_36_726',
'IE_NW_36_727',
'IE_NW_37_140',
'IE_NW_37_147',
'IE_NW_37_149',
'IE_NW_37_180',
'IE_NW_37_188',
'IE_NW_37_194',
'IE_NW_37_195',
'IE_NW_37_197',
'IE_NW_37_200',
'IE_NW_37_208',
'IE_NW_37_210',
'IE_NW_37_22',
'IE_NW_38_11',
'IE_NW_38_18',
'IE_NW_38_19',
'IE_NW_38_194',
'IE_NW_38_199',
'IE_NW_38_200',
'IE_NW_38_22',
'IE_NW_38_232',
'IE_NW_38_24',
'IE_NW_38_26',
'IE_NW_38_278',
'IE_NW_38_29',
'IE_NW_38_31',
'IE_NW_38_33',
'IE_NW_38_43',
'IE_NW_38_47',
'IE_NW_38_474',
'IE_NW_38_476',
'IE_NW_38_477',
'IE_NW_38_493',
'IE_NW_38_498',
'IE_NW_38_5',
'IE_NW_38_50',
'IE_NW_38_514',
'IE_NW_38_515',
'IE_NW_38_517',
'IE_NW_38_52',
'IE_NW_38_526',
'IE_NW_38_530',
'IE_NW_38_539',
'IE_NW_38_54',
'IE_NW_38_542',
'IE_NW_38_543',
'IE_NW_38_545',
'IE_NW_38_546',
'IE_NW_38_55',
'IE_NW_38_56',
'IE_NW_38_561',
'IE_NW_38_563',
'IE_NW_38_565',
'IE_NW_38_566',
'IE_NW_38_57',
'IE_NW_38_571',
'IE_NW_38_576',
'IE_NW_38_59',
'IE_NW_38_594',
'IE_NW_38_597',
'IE_NW_38_60',
'IE_NW_38_603',
'IE_NW_38_604',
'IE_NW_38_606',
'IE_NW_38_61',
'IE_NW_38_612',
'IE_NW_38_613',
'IE_NW_38_62',
'IE_NW_38_621',
'IE_NW_38_63',
'IE_NW_38_635',
'IE_NW_38_64',
'IE_NW_38_649',
'IE_NW_38_651',
'IE_NW_38_652',
'IE_NW_38_66',
'IE_NW_38_661',
'IE_NW_38_665',
'IE_NW_38_668',
'IE_NW_38_67',
'IE_NW_38_670',
'IE_NW_38_671',
'IE_NW_38_678',
'IE_NW_38_683',
'IE_NW_38_69',
'IE_NW_38_692',
'IE_NW_38_693',
'IE_NW_38_73',
'IE_NW_38_75',
'IE_NW_38_77',
'IE_NW_38_8',
'IE_NW_38_81',
'IE_NW_38_82',
'IE_NW_38_83',
'IE_NW_38_84',
'IE_NW_38_85',
'IE_NW_39_10',
'IE_NW_39_11',
'IE_NW_39_12',
'IE_NW_39_13',
'IE_NW_39_44',
'IE_NW_39_47',
'IE_NW_39_51',
'IE_NW_39_52',
'IE_NW_39_68',
'IE_NW_40_2',
'IE_SE_11_26',
'IE_SE_12_11',
'IE_SE_16_294',
'IE_SE_16_314',
'IE_SE_16_460',
'IE_SE_16_463',
'IE_SE_16_465',
'IE_SE_16_466',
'IE_SE_17_5',
'IE_SE_17_6',
'IE_SE_17_8',
'IE_SH_23_59',
'IE_SH_23_60',
'IE_SH_23_61',
'IE_SH_23_62',
'IE_SH_23_65',
'IE_SH_23_67',
'IE_SH_23_69',
'IE_SH_23_71',
'IE_SH_23_72',
'IE_SH_23_73',
'IE_SH_23_74',
'IE_SH_23_75',
'IE_SH_24_90',
'IE_SH_24_99',
'IE_SH_25_172',
'IE_SH_25_188',
'IE_SH_25_189',
'IE_SH_25_190',
'IE_SH_25_191a',
'IE_SH_25_191b',
'IE_SH_25_9',
'IE_SH_25_92',
'IE_SH_26_159',
'IE_SH_26_281',
'IE_SH_26_410',
'IE_SH_26_411',
'IE_SH_26_468',
'IE_SH_26_489',
'IE_SH_26_498',
'IE_SH_26_511',
'IE_SH_26_536',
'IE_SH_26_576',
'IE_SH_26_580',
'IE_SH_26_582',
'IE_SH_26_584',
'IE_SH_26_590',
'IE_SH_26_608',
'IE_SH_26_611',
'IE_SH_26_622',
'IE_SH_26_623',
'IE_SH_26_624',
'IE_SH_26_630',
'IE_SH_26_638',
'IE_SH_26_661',
'IE_SH_26_669',
'IE_SH_26_673',
'IE_SH_26_678',
'IE_SH_26_681',
'IE_SH_26_684',
'IE_SH_26_689',
'IE_SH_26_693',
'IE_SH_26_697',
'IE_SH_26_698',
'IE_SH_26_700',
'IE_SH_26_702',
'IE_SH_26_703',
'IE_SH_26_705',
'IE_SH_26_706',
'IE_SH_26_708',
'IE_SH_26_709',
'IE_SH_26_710',
'IE_SH_26_711',
'IE_SH_26_716',
'IE_SH_26_721',
'IE_SH_26_722',
'IE_SH_26_723',
'IE_SH_26_724',
'IE_SH_26_728',
'IE_SH_26_734',
'IE_SH_26_738',
'IE_SH_26_745',
'IE_SH_26_746',
'IE_SH_26_747a',
'IE_SH_26_747b',
'IE_SH_26_747c',
'IE_SH_26_747d',
'IE_SH_26_748',
'IE_SH_26_749',
'IE_SH_26_750a',
'IE_SH_26_750b',
'IE_SH_26_750c',
'IE_SH_26_750d',
'IE_SH_26_751',
'IE_SH_26_752',
'IE_SH_27_102',
'IE_SH_27_106',
'IE_SH_27_108',
'IE_SH_27_115',
'IE_SH_27_117',
'IE_SH_27_119',
'IE_SH_27_120',
'IE_SH_27_121',
'IE_SH_27_122',
'IE_SH_27_123',
'IE_SH_27_126',
'IE_SH_27_127',
'IE_SH_27_128',
'IE_SH_27_130',
'IE_SH_27_177',
'IE_SH_27_193',
'IE_SH_27_246',
'IE_SH_27_303',
'IE_SH_27_33',
'IE_SH_27_56',
'IE_SH_27_63',
'IE_SH_27_70',
'IE_SH_27_72',
'IE_SH_27_74',
'IE_SH_27_82',
'IE_SH_27_94',
'IE_SH_28_64',
'IE_SH_28_82',
'IE_SH_28_85',
'IE_SH_28_87',
'IE_SW_19_138',
'IE_SW_19_139',
'IE_SW_19_4',
'IE_SW_20_133',
'IE_SW_20_148',
'IE_SW_20_150',
'IE_SW_20_153',
'IE_SW_20_158',
'IE_SW_20_53',
'IE_SW_21_241',
'IE_SW_21_362',
'IE_SW_21_369',
'IE_SW_21_372',
'IE_SW_21_373',
'IE_SW_21_377',
'IE_SW_21_385',
'IE_SW_21_389',
'IE_SW_21_396',
'IE_SW_21_402',
'IE_SW_21_405',
'IE_SW_21_406',
'IE_SW_21_410',
'IE_SW_21_411',
'IE_SW_21_419',
'IE_SW_21_421',
'IE_SW_21_423',
'IE_SW_21_424',
'IE_SW_21_428',
'IE_SW_21_429',
'IE_SW_21_435',
'IE_SW_21_437',
'IE_SW_21_438',
'IE_SW_21_440',
'IE_SW_21_442',
'IE_SW_21_443',
'IE_SW_21_444',
'IE_SW_21_445',
'IE_SW_21_448',
'IE_SW_21_449',
'IE_SW_21_450',
'IE_SW_21_451',
'IE_SW_21_452',
'IE_SW_21_453',
'IE_SW_21_457',
'IE_SW_21_458',
'IE_SW_21_459',
'IE_SW_21_83',
'IE_SW_21_87',
'IE_SW_22_145',
'IE_SW_22_148',
'IE_SW_22_149',
'IE_SW_22_152',
'IE_SW_22_153',
'IE_SW_22_154',
'IE_SW_22_156',
'IE_SW_22_160',
'IE_SW_22_161',
'IE_SW_22_165',
'IE_SW_22_168',
'IE_SW_22_169',
'IE_SW_22_172',
'IE_SW_22_173',
'IE_SW_22_174',
'IE_SW_22_176',
'IE_SW_22_177',
'IE_SW_22_178',
'IE_SW_22_179',
'IE_SW_22_181',
'IE_SW_22_182',
'IE_SW_22_184',
'IE_SW_22_186',
'IE_SW_22_187',
'IE_SW_22_189',
'IE_SW_22_192',
'IE_SW_22_196',
'IE_SW_22_197',
'IE_SW_22_198',
'IE_SW_22_199',
'IE_SW_22_200',
'IE_SW_22_201',
'IE_SW_22_202',
'IE_SW_22_205',
'IE_SW_22_206',
'IE_SW_22_207',
'IE_SW_22_208',
'IE_SW_22_209',
'IE_SW_22_210',
'IE_SW_22_25',
'IE_SW_22_26',
'IE_SW_22_39',
'IE_SW_22_58',
'IE_SW_22_67',
'IE_WE_27_114',
'IE_WE_29_107',
'IE_WE_29_168',
'IE_WE_29_181',
'IE_WE_29_194',
'IE_WE_29_37',
'IE_WE_30_215',
'IE_WE_30_250',
'IE_WE_30_260',
'IE_WE_30_290',
'IE_WE_30_301',
'IE_WE_30_303',
'IE_WE_30_308',
'IE_WE_30_313',
'IE_WE_30_315',
'IE_WE_30_322',
'IE_WE_30_325',
'IE_WE_30_326',
'IE_WE_30_328',
'IE_WE_30_332',
'IE_WE_30_334',
'IE_WE_30_335',
'IE_WE_30_336',
'IE_WE_30_340',
'IE_WE_30_341',
'IE_WE_30_342',
'IE_WE_30_343',
'IE_WE_30_344',
'IE_WE_30_345',
'IE_WE_30_346',
'IE_WE_30_347',
'IE_WE_30_348',
'IE_WE_30_532',
'IE_WE_30_665a',
'IE_WE_30_665b',
'IE_WE_30_666a',
'IE_WE_30_666b',
'IE_WE_31_1000',
'IE_WE_31_1008',
'IE_WE_31_1011',
'IE_WE_31_103',
'IE_WE_31_1036',
'IE_WE_31_1044',
'IE_WE_31_1051',
'IE_WE_31_1053',
'IE_WE_31_1069',
'IE_WE_31_1077',
'IE_WE_31_1079',
'IE_WE_31_1082',
'IE_WE_31_1091',
'IE_WE_31_1092',
'IE_WE_31_1100',
'IE_WE_31_1101',
'IE_WE_31_1112',
'IE_WE_31_1113',
'IE_WE_31_1118',
'IE_WE_31_1119',
'IE_WE_31_1126',
'IE_WE_31_1127',
'IE_WE_31_1143',
'IE_WE_31_120',
'IE_WE_31_121',
'IE_WE_31_122',
'IE_WE_31_125',
'IE_WE_31_126',
'IE_WE_31_127',
'IE_WE_31_128',
'IE_WE_31_129',
'IE_WE_31_13',
'IE_WE_31_130',
'IE_WE_31_131',
'IE_WE_31_136',
'IE_WE_31_137',
'IE_WE_31_14',
'IE_WE_31_141',
'IE_WE_31_142',
'IE_WE_31_143',
'IE_WE_31_144',
'IE_WE_31_148',
'IE_WE_31_15',
'IE_WE_31_152',
'IE_WE_31_153',
'IE_WE_31_154',
'IE_WE_31_155',
'IE_WE_31_159',
'IE_WE_31_16',
'IE_WE_31_163',
'IE_WE_31_165',
'IE_WE_31_166',
'IE_WE_31_167',
'IE_WE_31_168',
'IE_WE_31_169',
'IE_WE_31_170',
'IE_WE_31_171',
'IE_WE_31_172',
'IE_WE_31_173',
'IE_WE_31_174',
'IE_WE_31_175',
'IE_WE_31_176',
'IE_WE_31_177',
'IE_WE_31_179',
'IE_WE_31_180',
'IE_WE_31_183',
'IE_WE_31_184',
'IE_WE_31_185',
'IE_WE_31_186',
'IE_WE_31_187',
'IE_WE_31_188',
'IE_WE_31_189',
'IE_WE_31_191',
'IE_WE_31_195',
'IE_WE_31_196',
'IE_WE_31_2',
'IE_WE_31_20',
'IE_WE_31_200',
'IE_WE_31_201',
'IE_WE_31_203',
'IE_WE_31_206',
'IE_WE_31_207',
'IE_WE_31_208',
'IE_WE_31_209',
'IE_WE_31_21',
'IE_WE_31_210',
'IE_WE_31_211',
'IE_WE_31_212',
'IE_WE_31_215',
'IE_WE_31_216',
'IE_WE_31_217',
'IE_WE_31_218',
'IE_WE_31_219',
'IE_WE_31_221',
'IE_WE_31_222',
'IE_WE_31_223',
'IE_WE_31_224',
'IE_WE_31_225',
'IE_WE_31_226',
'IE_WE_31_227',
'IE_WE_31_228',
'IE_WE_31_229',
'IE_WE_31_230',
'IE_WE_31_27',
'IE_WE_31_28',
'IE_WE_31_34',
'IE_WE_31_35',
'IE_WE_31_40',
'IE_WE_31_41',
'IE_WE_31_43',
'IE_WE_31_45',
'IE_WE_31_47',
'IE_WE_31_477',
'IE_WE_31_48',
'IE_WE_31_52',
'IE_WE_31_53',
'IE_WE_31_55',
'IE_WE_31_58',
'IE_WE_31_6',
'IE_WE_31_60',
'IE_WE_31_61',
'IE_WE_31_63',
'IE_WE_31_64',
'IE_WE_31_66',
'IE_WE_31_67',
'IE_WE_31_7',
'IE_WE_31_70',
'IE_WE_31_71',
'IE_WE_31_72',
'IE_WE_31_74',
'IE_WE_31_76',
'IE_WE_31_77',
'IE_WE_31_78',
'IE_WE_31_83',
'IE_WE_31_85',
'IE_WE_31_89',
'IE_WE_31_9',
'IE_WE_31_91',
'IE_WE_31_92',
'IE_WE_31_94',
'IE_WE_31_95',
'IE_WE_31_97',
'IE_WE_31_975',
'IE_WE_31_98',
'IE_WE_31_984',
'IE_WE_31_99',
'IE_WE_31_992',
'IE_WE_31_994',
'IE_WE_32_269',
'IE_WE_32_295',
'IE_WE_32_306',
'IE_WE_32_315',
'IE_WE_32_320',
'IE_WE_32_329',
'IE_WE_32_333',
'IE_WE_32_342',
'IE_WE_32_346',
'IE_WE_32_347',
'IE_WE_32_349',
'IE_WE_32_351',
'IE_WE_32_356',
'IE_WE_32_358',
'IE_WE_32_359',
'IE_WE_32_364',
'IE_WE_32_368',
'IE_WE_32_377',
'IE_WE_32_388',
'IE_WE_32_390',
'IE_WE_32_391',
'IE_WE_32_392',
'IE_WE_32_401',
'IE_WE_32_402',
'IE_WE_32_405',
'IE_WE_32_406',
'IE_WE_32_410',
'IE_WE_32_415',
'IE_WE_32_420',
'IE_WE_32_422',
'IE_WE_32_428',
'IE_WE_32_432',
'IE_WE_32_434',
'IE_WE_32_436',
'IE_WE_32_437',
'IE_WE_32_441',
'IE_WE_32_442',
'IE_WE_32_448',
'IE_WE_32_449',
'IE_WE_32_450',
'IE_WE_32_452',
'IE_WE_32_454',
'IE_WE_32_458',
'IE_WE_32_459',
'IE_WE_32_463',
'IE_WE_32_465',
'IE_WE_32_467',
'IE_WE_32_469',
'IE_WE_32_472',
'IE_WE_32_474',
'IE_WE_32_475',
'IE_WE_32_477',
'IE_WE_32_478',
'IE_WE_32_479',
'IE_WE_32_481',
'IE_WE_32_482',
'IE_WE_32_483',
'IE_WE_32_486',
'IE_WE_32_487',
'IE_WE_32_490',
'IE_WE_32_491',
'IE_WE_32_496',
'IE_WE_32_497',
'IE_WE_32_498',
'IE_WE_32_499',
'IE_WE_32_500',
'IE_WE_32_501',
'IE_WE_32_502',
'IE_WE_32_503',
'IE_WE_32_504',
'IE_WE_32_505',
'IE_WE_32_507',
'IE_WE_32_508',
'IE_WE_32_509a',
'IE_WE_32_509b',
'IE_WE_32_510',
'IE_WE_32_526',
'IE_WE_33_1790',
'IE_WE_33_1803',
'IE_WE_33_1804',
'IE_WE_33_1872',
'IE_WE_33_1876',
'IE_WE_33_1889',
'IE_WE_33_1892',
'IE_WE_33_1893',
'IE_WE_33_1895',
'IE_WE_33_1903',
'IE_WE_33_1906',
'IE_WE_33_1912',
'IE_WE_33_1914',
'IE_WE_33_1919',
'IE_WE_34_251',
'IE_WE_34_297',
'IE_WE_34_304',
'IE_WE_34_315',
'IE_WE_34_334',
'IE_WE_34_355',
'IE_WE_34_368',
'IE_WE_34_376',
'IE_WE_34_386',
'IE_WE_34_391',
'IE_WE_34_393',
'IE_WE_34_398',
'IE_WE_34_402',
'IE_WE_34_403',
'IE_WE_34_405',
'IE_WE_34_406a',
'IE_WE_34_406b',
'IE_WE_34_458',
'IE_WE_34_688',
'IE_WE_34_773',
'IE_WE_34_809',
'IE_WE_35_107',
'IE_WE_35_120',
'IE_WE_35_131',
'IE_WE_35_132',
'IE_WE_35_136',
'IE_WE_35_139',
'IE_WE_35_142',
'IE_WE_35_154',
'IE_WE_35_155',
'IE_WE_35_156',
'IE_WE_35_157',
'IE_WE_35_158',
'IE_WE_35_159',
'IE_WE_35_17',
'IE_WE_35_188',
'IE_WE_35_237',
'IE_WE_35_96',
'IE_WE_35_98',
'UKGBNI3NB0013',
'UKGBNI3NB0016',
'UKGBNI3NB0017',
'UKGBNI3NB0018',
'UKGBNI3NB0020',
'UKGBNI3NB0021',
'UKGBNI3NB0024',
'UKGBNI3NB0026',
'UKGBNI3NB0027',
'UKGBNI3NB0028',
'UKGBNI3NB0032',
'UKGBNI3NE0019',
'UKGBNI3NE0023',
'UKGBNI3NE0028',
'UKGBNI3NW0006',
'UKGBNI3NW0007',
'UKGBNI3NW0022',
'UKGBNI3NW0025',
'UKGBNI3NW0026',
'UKGBNI3NW0027',
'UKGBNI3NW0028',
'UKGBNI3NW0029',
'UKGBNI3NW0031'
)

ORDER BY STA.MonitoredEntityWFDWiseCode_sta