USE [EPACentral_Aquarius]

/*
-- ********************
-- *** Initiate Update
-- ********************
-- *** These are Cork Coco 2014 meas ids - waiting on go ahead from DW team
BEGIN TRANSACTION
UPDATE	Measurements
SET		Hchk_ID = 1 -- 1-Invalidated / 2-Validated
WHERE	Meas_ID	IN
(
'13241144',
'13241145',
'13241146',
'13241147',
'13241148',
'13241149',
'13241150',
'13241151',
'13241152',
'13241153',
'13249157',
'13249158',
'13249159',
'13241901',
'13241902',
'13241903',
'13241904',
'13241905',
'13241906',
'13241907',
'13241908',
'13241909',
'13249416',
'13249417',
'13249418',
'13242766',
'13242767',
'13242768',
'13242769',
'13242770',
'13242771',
'13242772',
'13242773',
'13242774',
'13249707',
'13249708',
'13249709',
'13249710',
'13245628',
'13245629',
'13245630',
'13245631',
'13245632',
'13245633',
'13245634',
'13245635',
'13250587',
'13250588',
'13250589',
'13250590',
'13246207',
'13246208',
'13246209',
'13246210',
'13246211',
'13246212',
'13246213',
'13246214',
'13246215',
'13250824',
'13250825',
'13250826',
'13250827',
'13247239',
'13247240',
'13247241',
'13247242',
'13247243',
'13247244',
'13247245',
'13247246',
'13247247',
'13251267',
'13251268',
'13251269',
'13251270',
'13247603',
'13247604',
'13247605',
'13247606',
'13247607',
'13247608',
'13247609',
'13247610',
'13247611',
'13251422',
'13251423',
'13251424',
'13251425'
)
--COMMIT TRANSACTION
--ROLLBACK TRANSACTION

--*/